/*Reset básico p/ ter aparencia consistente*/
* {
    margin: 0;
    padding: 0;
}

/*Estilo básico do corpo*/
body{
    line-height: 1.8;
    text-align: center;
    font-size: xx-large;
}

/*Estilo de cabeçalho*/
header{
    padding: 1rem;
    text-align: center;
    font-size: x-large;
}
li{
    display: inline;
    border-style: solid;
    border-radius: 10px;
}
nav{
    list-style: none;
    padding: 0;
    text-align: right;
    border-style:solid;
    background-color:#3D3D65;
}
a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/*Estilo de conteudo principal*/
main {
    padding: 1rem;
}
h1{
    text-align: center;
    padding-top: 150px;
    color: azure;
    background-color:#3D3D65;
    width: 1830px;
    height: 450px;
}
.grid-opcoes {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    column-gap: 200px;
    row-gap: 50px;
    padding-top: 200px;
    padding-left: 380px;
}
.grid-1{
    text-align: center;
    align-content: center;
    font-size: xx-large;
    background-color: #D9D9D9;
    border: 2px solid #D9D9D9;
    border-radius: 20px;
}
.grid-2{
    text-align: center;
    align-content: center;
    font-size: xx-large;
    background-color: #D9D9D9;
    border: 2px solid #D9D9D9;
    border-radius: 20px;
}
.grid-3{
    text-align: center;
    align-content: center;
    font-size: xx-large;
    background-color: #D9D9D9;
    border: 2px solid #D9D9D9;
    border-radius: 20px;
}


h2{
    text-align: center;
    color: azure;
    background-color:#3D3D65;
    width: 650px;
    height: 150px;
    position: relative;
    left: 600px;
    font-size: 150%;
}
.grid-lancamento {
    text-align: center;
    background-color:#D9D9D9;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 300px 300px;
    column-gap: 200px;
    row-gap: 70px;
    padding-top: 150px;
    padding-left: 210px;
}
.grid-4{
    align-content: center;
    font-size: x-large;
}
.grid-5{
    text-align: center;
    align-content: center;
    font-size: x-large;
}
.grid-6{
    text-align: center;
    align-content: center;
    font-size: x-large;
}
.grid-7{
    text-align: center;
    align-content: center;
    font-size: x-large;
}
.grid-8{
    text-align: center;
    align-content: center;
    font-size: x-large;
}
.grid-9{
    text-align: center;
    align-content: center;
    font-size: x-large;
}
.grid-10{
    text-align: center;
    align-content: center;
    font-size: x-large;
}
.grid-11{
    text-align: center;
    align-content: center;
    font-size: x-large;
}


h3{
    text-align: center;
    color: azure;
    background-color:#3D3D65;
    width: 650px;
    height: 150px;
    position: relative;
    left: 600px;
    font-size: 150%;
}
.grid-collabs {
    background-color:#D9D9D9;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 300px 300px;
    column-gap: 200px;
    row-gap: 70px;
    padding-top: 150px;
    padding-left: 210px;
}
.grid-12{
    text-align: center;
    align-content: center;
    font-size: x-large;
}
.grid-13{
    text-align: center;
    align-content: center;
    font-size: x-large;
}
.grid-14{
    text-align: center;
    align-content: center;
    font-size: x-large;
}
.grid-15{
    text-align: center;
    align-content: center;
    font-size: x-large;
}
.grid-16{
    text-align: center;
    align-content: center;
    font-size: x-large;
}
.grid-17{
    text-align: center;
    align-content: center;
    font-size: x-large;
}
.grid-18{
    text-align: center;
    align-content: center;
    font-size: x-large;
}
.grid-19{
    text-align: center;
    align-content: center;
    font-size: x-large;
}


h4{
    text-align: center;
    color: azure;
    background-color:#3D3D65;
    width: 650px;
    height: 150px;
    position: relative;
    left: 600px;
    font-size: 150%;
}
.grid-entrega {
    background-color:#D9D9D9;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 300px 300px;
    column-gap: 200px;
    row-gap: 70px;
    padding-top: 150px;
    padding-left: 210px;
}
.grid-20{
    text-align: center;
    align-content: center;
    font-size: x-large;
}
.grid-21{
    text-align: center;
    align-content: center;
    font-size: x-large;
}
.grid-22{
    text-align: center;
    align-content: center;
    font-size: x-large;
}
.grid-23{
    text-align: center;
    align-content: center;
    font-size: x-large;
}
.grid-24{
    text-align: center;
    align-content: center;
    font-size: x-large;
}
.grid-25{
    text-align: center;
    align-content: center;
    font-size: x-large;
}
.grid-26{
    text-align: center;
    align-content: center;
    font-size: x-large;
}
.grid-27{
    text-align: center;
    align-content: center;
    font-size: x-large;
}

footer{
    margin-left: 15px;
    margin-right: 15px;
    background-color: #3D3D65;
}
footer .container{
    display: flex;
    color: rgb(255, 255, 255);
}
footer .container ul{
    width: 25%;
}
footer .container h{
    margin-bottom: 16px;
    font-weight: 600;
}
footer .container ul>p{
    margin-bottom: 40px;
}
footer .container li{
    margin: 10px 0;
    list-style-type: none;
}
.redes-sociais{
    color: aliceblue;
}

@media (max-width: 600px) {
    header {
        font-size: 1.5rem;
    }
    nav {
        text-align: center;
        display: block;
        margin: 0.5rem 0;
    }
}
.Login{
    color: white;
    padding-top: 200px;
    background-color: #3D3D65;
    height: 500px;
}